<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgXE2cQ_MMEG-hJ5SpkK-tRVJYl_S244A</string>
	<key>GCM_SENDER_ID</key>
	<string>251695732369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wmin.girish.CWK2Template1</string>
	<key>PROJECT_ID</key>
	<string>tourdeworldauth</string>
	<key>STORAGE_BUCKET</key>
	<string>tourdeworldauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251695732369:ios:85ff81f05c1d81fbce5130</string>
</dict>
</plist>